{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% block extrahead %}
      <link href="{% static 'css/index.css' %}" rel="stylesheet">
    {% endblock %}
    <h1>記事一覧</h1>
    {% for post in posts %}
      <div class="cardWrapper">
      <div class="card m-2">
          <div class="card-title bg-dark">
            <div class="row m-2">
              <div class="col-6 titleContainer">
                <a href="/post/{{ post.pk }}">
                  {{ post.title }}
                </a>
              </div>
              <div class="col-3 titleContainer"><span>閲覧数</span></div>
              <div class="col-3 titleContainer"><span>返信数</span></div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-6 textOverFlow text">{{ post.text }}</div>
              <div class="col-3">{{ post.access_set.all.0.count }}</div>
              <div class="col-3">{{ post.comment_set.all|length }}</div>
            </div>
          </div>
          <div class="card-footer">
            <span>{{ post.published_date }}</span>
          </div>
        </div>
      </div>
    {% endfor %}
{% endblock %}
