{% extends 'base.html' %}
{% load static %}
{% block content %}
  {% block extrahead %}
    <link href="{% static 'css/post_detail.css' %}" rel="stylesheet">
  {% endblock %}
  <div class="post">
      <a class="btn border btn-default" href="{% url 'bulletin:comment_new' pk=post.pk %}"><span class="">コメントをする</span></a>
      <div class="cardWrapper">
      <div class="card m-2">
          <div class="card-title bg-dark">
            <div class="row m-2 titleContainer">
                <div style="color:white">
                  {{ post.title }}
                </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-4 profileImgContainer">
                <img class="profile" src="{% static 'img/profile.png' %}">
                <div>{{ post.author }}</div>
              </div>
              <div class="col-8 text">
                {{ post.text | urlize | linebreaksbr }}
              </div>
            </div>
          </div>
          <div class="card-footer">
            <span>{{ post.published_date }}</span>
          </div>
        </div>
      </div>
  </div>
  {% for comment in comments %}
  <div class="post">
      <div class="cardWrapper">
      <div class="card m-2">
          <div class="card-body">
            <div class="row">
              <div class="col-4 profileImgContainer">
                <img class="profile" src="{% static 'img/profile.png' %}">
                <div>{{ comment.author }}</div>
              </div>
              <div class="col-8 text">
                {{ comment.text | urlize | linebreaksbr }}
              </div>
            </div>
          </div>
          <div class="card-footer">
            <span>{{ comment.published_date }}</span>
            {% if comment.author == user %}
              <span>&nbsp;&nbsp;<a class="btn border btn-default" href="{% url 'bulletin:comment_edit' pk=post.pk commentid=comment.id %}">編集する</a></span>
            {% endif %}
          </div>
        </div>
      </div>
  </div>
  {% endfor %}
{% endblock %}
