.profile {
  max-width:100%;
}

@media (max-width: 599px) and (orientation: portrait){
  .profile {
    max-height:10vh;
  }
}
@media (min-width: 600px) and (orientation: portrait){
  .profile {
    max-height:20vh;
  }
}

@media (max-width: 599px) and (orientation: landscape){
  .profile {
    max-height:30vh;
  }
}
@media (min-width: 600px) and (orientation: landscape){
  .profile {
    max-height:60vh;
  }
}

.profileImgContainer{
  display: flex;
  justify-content: center; /*左右中央揃え*/
}

.text{
  background-color:#f5f5f5;
  padding:1;
}

.balloon1-left {
  position: relative;
  display: inline-block;
  padding: 7px 10px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #555;
  font-size: 16px;
  background: #e0edff;
}

.balloon1-left:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #e0edff;
}

.balloon1-left p {
  margin: 0;
  padding: 0;
}
